/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Do+Hyeon);

* {
    box-sizing: border-box;
}

body, 
html {
    font-family: 'Do Hyeon', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}